sample-workflow.json
{
  "name": "YouTube URL to AI Notes (FINAL FIXED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-notes",
        "responseMode": "onReceived",
        "responseData": "Successfully started! Your notes will appear in Google Drive shortly."
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "={{ 'Create detailed, structured study notes from this YouTube video. Use headings, bullet points, and examples. YouTube URL: ' + $json.body.url }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyAOwsrAHwcPJbhegjf0k3nVMH5odISFeGw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] })}}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "3",
      "name": "Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "textToBinary",
        "convertAllToBinary": false,
        "sourceKey": "={{$json.candidates[0].content.parts[0].text}}",
        "destinationKey": "data",
        "options": {
          "fileName": "={{ 'YouTube_Notes_' + Date.now() + '.txt' }}"
        }
      },
      "id": "4",
      "name": "Convert to File",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileContent": "data",
        "options": {}
      },
      "id": "5",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [880, 300],
      "credentials": {
        "googleDriveOAuth2": {
          "id": "GOOGLE_DRIVE_OAUTH"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "Gemini AI", "type": "main", "index": 0 }]]
    },
    "Gemini AI": {
      "main": [[{ "node": "Convert to File", "type": "main", "index": 0 }]]
    },
    "Convert to File": {
      "main": [[{ "node": "Upload to Google Drive", "type": "main", "index": 0 }]]
    }
  }
}
