sample-workflow.json
{
  "name": "YouTube URL to AI Notes (Direct Email)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-notes",
        "responseMode": "onReceived",
        "responseData": "Workflow started! Check your email in about 1 minute."
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "={{ 'Create detailed, structured study notes from this YouTube video. Use headings, bullet points, and examples. YouTube URL: ' + $json.body.url }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyAOwsrAHwcPJbhegjf0k3nVMH5odISFeGw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] })}}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "3",
      "name": "Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "📝 Your AI Video Notes",
        "emailType": "text",
        "message": "={{ $json.candidates[0].content.parts[0].text }}",
        "appendAttributions": false
      },
      "id": "4",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [660, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_OAUTH_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "Gemini AI", "type": "main", "index": 0 }]]
    },
    "Gemini AI": {
      "main": [[{ "node": "Send Gmail", "type": "main", "index": 0 }]]
    }
  }
}
